:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* body{
  width:100vw;
  height:max-content;
} */

a {
  text-decoration:none;
  color:inherit;
}
@keyframes Fadein {
  0%{
      opacity:0;
  }
  100%{
      opacity: 1;
  }
}
